<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/views/author">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Publication Database</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <% if(sidebarItem == "dashboard"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
            <% } %>
            

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <!--view -> midle -> contactAuthor.js -> method get(paper)-->
            <% if(sidebarItem == "papers"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author/paper"> 
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author/paper"> 
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers</span></a>
                </li>
            <% } %>

            <% if(sidebarItem == "editPaper"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author/edit_paper">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Edit paper</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author/edit_paper">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Edit paper</span></a>
                </li>
            <% } %>

            <% if(sidebarItem == "paperResult"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author/papers_result">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers result</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author/papers_result">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers result</span></a>
                </li>
            <% } %>


            <% if(sidebarItem == "paperStatistic"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author/papers_statistic">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers statistic</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author/papers_statistic">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers statistic</span></a>
                </li>
            <% } %>


            <% if(sidebarItem == "paperReviewResult"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author/paper_review_result">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers review result</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author/paper_review_result">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers review result</span></a>
                </li>
            <% } %>
            
            <% if(sidebarItem == "paperAuthor"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author/papers_author">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers author</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author/papers_author">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Papers author</span></a>
                </li>
            <% } %>

                <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <% if(sidebarItem == "Profile"){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/author/profile">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Profile</span></a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/views/author/profile">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Profile</span></a>
                </li>
            <% } %>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            
        </ul>