<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="css/styles.css">
    <!-- <script src="/js/getrequest.js"></script>
  <script src="/js/postrequest.js"></script> -->
</head>

<body>
    <div>
        <div class="container vertical-center">
            <div class="col-sm-4">
                <h3 style="margin-bottom: 1em;">Signin</h3>
                <div>                    
                    <form action="/user/signin" method ="POST" novalidate>                    
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" />
                            <% if(typeof alert != 'undefined') { %>
                                <% for (var i = 0; i < alert.length; i++) { %>
                                    <% if (alert[i].param == 'username') { %>
                                        <p style="color: red; margin-top: 5px;">
                                            <%= alert[i].msg  %>
                                        </p>                        
                                    <% } %>                                            
                                <% } %>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
                            <% if(typeof alert != 'undefined') { %>
                                <% for (var i = 0; i < alert.length; i++) { %>
                                    <% if (alert[i].param == 'password') { %>
                                        <p style="color: red; margin-top: 5px;">
                                            <%= alert[i].msg  %>
                                        </p>                        
                                    <% } %>                                            
                                <% } %>
                            <% } %>
                        </div>                                                                  
                        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <% if(typeof alert != 'undefined') { %>
                                <% for (var i = 0; i < alert.length; i++) { %>
                                    <% if (alert[i].param == 'wrong') { %>
                                        <p style="color: red; margin-top: 5px;">
                                            <%= alert[i].msg  %>
                                        </p>                        
                                    <% } %>                                            
                                <% } %>
                            <% } %>
                            <button id='sign-up-1' class="btn btn-info me-md-2" type="submit">Signin</button>
                            <a href="/user/signup"><button class="btn  btn-primary" type="button">Sign up</button></a>                       
                        </div>
                    </form>
                </div>            
            </div>        
        </div>       
    </div>
</body>

</html>