<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scientist - Paper</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('./sidebar', {active_bar: 'editorPapresByType'}) %>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <%- include('../layout/topbar'); %>
                <div class="container-fluid">                
                        
                            
                                <form action="/views/editor/papersByTypeAndStatus" method="POST">   
                                    <div class="row justify-content-center">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="papers">Select type:</label>                                                        
                                                <select name="typePaper" id="typePaper" style="width: 100%">
                                                    <option value="-1">Please choose type of paper</option>
                                                    <option value="RESEARCH_OVERVIEW_PAPER">RESEARCH_OVERVIEW_PAPER</option>
                                                    <option value="BOOK_REVIEW">BOOK_REVIEW</option>
                                                    <option value="RESEARCH_PAPER">RESEARCH_PAPER</option>                                                                                                                                                                                                                               
                                                </select>
                                            </div>      
                                        </div>
    
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="papers">Select status:</label>                                                        
                                                <select name="statusPaper" id="statusPaper" style="width: 100%">
                                                    <option value="-1">Please choose status of paper</option>
                                                    <option value="UNSOLVED_REVIEW">UNSOLVED_REVIEW</option>
                                                    <option value="REVIEW">REVIEW</option>
                                                    <option value="RESPOND_REVIEW">RESPOND_REVIEW</option>
                                                    <option value="COMPLETE_REVIEW">COMPLETE_REVIEW</option> 
                                                    <option value="PUBLICATION">PUBLICATION</option> 
                                                    <option value="POSTED">POSTED</option>                                                                                                                         
                                                </select>
                                            </div>      
                                        </div>             
                                    </div>                                                                                                                                               
                                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                                        <button id='selectPaperBtn' class="btn btn-info me-md-2" type="submit" style="margin-bottom: 20px;">Select</button>                                        
                                    </div>                  
                                </form>                                                                                                      
            </div>                                                           
        </div>
        <footer class="sticky-footer bg-white">
            <%- include('../layout/footer') %>
        </footer>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


     <!-- Bootstrap core JavaScript-->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
     <!-- Core plugin JavaScript-->
     <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="js/sb-admin-2.min.js"></script>
 
     <!-- Page level plugins -->
     <script src="vendor/datatables/jquery.dataTables.min.js"></script>
     <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#paperTable').DataTable();
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $('#statusPaper').select2();
        $('#typePaper').select2();
    </script>

    <!-- <script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script> -->

</body>

</html>